/* body {
    background-image: url("../images/blackWallpaper.jpeg");
    background-size: auto;
    background-repeat: repeat;
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
} */

html { 
  background: url(../images/blackWallpaper.jpeg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}


header {
    font-family: 'Georgia', Times, 'Times New Roman', serif;
    background-color: #ebdcb2;
    margin-bottom: 40px;
    /* border-bottom: 2px solid #ccc; */
    margin-top: 0px;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 90px;
    padding-bottom: 0px;
}

#my-name {
    float: left; 
    background-color: #a10115;
    color: #fff;
    font-family: 'Georgia', Times, 'Times New Roman', serif;
    font-size: 30px;
    padding: 10px 10px;
    line-height: 70px;
    font-weight: bold;
    text-decoration: none;
    margin-bottom: 0px;
    margin-top: 0px;
    margin-left: 0px;
}

nav {
    float: right;
}

nav ul li {
    display: inline;
    line-height: 60px;
}

nav ul li a {
    text-decoration: none;
    color: #000;
    margin-left: 20px;
    font-size: 18px;
    font-weight: bold;
    padding-bottom:0px;
    margin-bottom:0px;
}

a:hover {
    color: #a10115;
    transition: 0.5s; 
}

#portfolio-link {
    border-left: 1px solid #a10115;
    border-right: 1px solid #a10115;
    padding-right: 20px;
    padding-left: 20px;
}

#content {
    border: 1px solid;
    border-color: #dddddd;
    background-color: #fff;
    padding: 20px;
    width: 920px;
    position: relative;
    top: 140px;
}

h2 {
    font-family: 'Georgia', Times, 'Times New Roman', serif;
    color: #a10115;
    font-size: 30px;
    border-bottom: 2px solid #ccc;
    margin-top: 10px;
    padding-bottom: 20px;
    margin-bottom: 20px;
}

.wrapper{
    width: 960px;
    margin: 0px auto;
    overflow: hidden;
    padding: 0px;
}

.trophy {
    float: left;
    margin-right: 30px;
    width: 300px;
    border: solid;
    border-color: #a10115;
    border-width: 2px;
    margin: 0px 10px 0px 0px;
}

footer {
    position: fixed;
    bottom: 0;
    right: 0;
    width: 100%;
	text-align: center;
	background-color: #777;
	color: #ccc;
	line-height: 40px;
	margin-top: 40px;
	border-top: 8px solid #a10115;
	font-size: 12px;
}

/* Contact Form Specific */

#contact-form ul {
  margin-bottom: 20px;
  list-style-type: none;
  padding-left: 0;
  color: #777777;
  padding-right: 20px;
}

#contact-form li {
  margin-bottom: 10px;
}


label,
input[type=text],
input[type=email],
textarea {
  display: block;
  width: 100%;
}

input[type=text],
input[type=email],
textarea {
  height: 35px;
  padding: 0 10px;
  font-size: 14px;
  border: 1px solid #ddd;
}

textarea {
  height: 200px;
}

input[type=submit] {
  padding: 10px 30px;
  font-size: 18px;
  color: #fff;
  cursor: pointer;
  background: #a10115;
  border: 0 none;
}

.contactCard {
  float: left;
  margin: 40px 100px;
}

.contactCard li {
  list-style-type: none;
  font-size: 20px;
  line-height: 30px;
}

/* portfolio page specific */

.projects {
    position: relative; 
    float: left;
    width: 270px;
    height: 200px;
    margin: 20px 90px 25px 90px;
    
  }

  .projects img {
    width: 100%;
    height: 100%;
  }

  .projects h3 {
    position: absolute;
    bottom: 20px;
    width: 240px;
    padding: 15px;
    margin-bottom: 0;
    font-weight: 300;
    line-height: 30px;
    color: #fff;
    text-align: center;
    background: #c9a66b;
    font-family: 'Georgia', Times, 'Times New Roman', serif;
    font-size: 22px;
  }